<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"/>


</head>
<body class="login-body">
<div class="form-container">
    <p>Login</p>
    <form class="form">
        <label>Email</label>
        <input type="text" class="input" placeholder="Enter yout email">
        <label>Password</label>
        <input type="password" class="input" placeholder="Password">
        <button>Submit</button>
    </form>
</div>

</body>
</html>